
<h3>List of gossips</h3>
  <div class="card-deck">
    <div class="col-sm-6">
        <% @all_gossips.each do |gossip| %>
          <div class="card border-info text-white bg-info mb-3">
            <div class="card-header bg-light text-warning">
              <%= link_to 'Author:', user_show_path(:user_id => gossip.user.id), style: "text-decoration: none" %>
              <%= gossip.user.first_name %> <%= gossip.user.last_name %>
            </div>
            <div class="card-body">
              Gossip title: 
              <h5 class="card-title"><%= gossip.title %></h5>
              <%= link_to 'See gossip', home_show_gossip_path(:id => gossip.id), class: 'btn btn-secondary bg-info' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>